.product-selection-table {
    width: 40%;
    margin: 0 auto 20px 0;
    border-collapse: collapse;
}

.product-selection-table th,
.product-selection-table td {
    padding: 8px 12px;
    border: 1px solid #eee;
    text-align: left;
}
